@page "/meds"
@inject IPatientsService PatientService
@inject HttpClient Http
@inject StateContainer StateContainer

<Progress isVisible="@showProgress"></Progress>
<MudPaper Class="innerPageWrapper">
    <div class="pageWrapper">
        <MudText Typo="Typo.h5">
            Медикаменты
        </MudText>
        <div class="tabWrapper">
            <MudTabs>
                <MudTabPanel Text="ТЕКУЩИЕ">
                    @if (dtcMeds != null)
                    {

                        <MudTable Items="@dtcMeds.DTCMedicamentList" Dense="true">
                            <HeaderContent>
                                <MudTh Class="tableHeader"></MudTh>
                                <MudTh Class="tableHeader"><MudText>Название</MudText></MudTh>
                                <MudTh Class="tableHeader"><MudText>Применение</MudText></MudTh>
                                <MudTh Class="tableHeader"><MudText>Начато</MudText></MudTh>
                                <MudTh Class="tableHeader"><MudText>Завершено</MudText></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd>
                                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown"
                                                   OnClick="@(() => ShowBtnPress(context))"
                                                   Size="Size.Large" class=@(context.ShowDetails ? "expanderButton arrowDown" : "expanderButton")></MudIconButton>
                                </MudTd>
                                <MudTd><MudText Class="@GetRowClass(context)" Typo="Typo.body1">@ParseTitle(context)</MudText></MudTd>
                                <MudTd><MudText Class="grayText" Typo="Typo.body1">@context.ApplicationMethod</MudText></MudTd>
                                <MudTd><MudText Class="grayText" Typo="Typo.body1">@ParseStartTime(context)</MudText></MudTd>
                                <MudTd><MudText Class="grayText" Typo="Typo.body1">@ParseEndTime(context)</MudText></MudTd>
                            </RowTemplate>
                            <ChildRowContent>
                                @if (context.ShowDetails && context.CourseMedicamentList != null && context.CourseMedicamentList[0].MedicamentTherapyList != null)
                                    {
                                        foreach (MedicamentTherapyInfoDto med in context.CourseMedicamentList[0].MedicamentTherapyList)
                                        {
                                        <MudTr>
                                            <MudTd></MudTd>
                                            <MudTd><MudText Class="grayText innerTDPadding" Typo="Typo.body1">@med.MedicamentName</MudText></MudTd>
                                            <MudTd><MudText Class="grayText" Typo="Typo.body1">@context.ApplicationMethod</MudText></MudTd>
                                            <MudTd></MudTd>
                                            <MudTd><MudText Class="grayText" Typo="Typo.body1">@ParseMedEndTime(med)</MudText></MudTd>
                                        </MudTr>
                                        }

                                    }
                            </ChildRowContent>
                        </MudTable>
                    }
                </MudTabPanel>
                <MudTabPanel Text="ПО ВСЕЙ ГОСПИТАЛИЗАЦИИ">
                    @if (iscMeds != null)
                    {
                        foreach (PatientMedicamentDto medGroup in iscMeds.ISCMedicamentList)
                        {
                            <div>
                                <MudText Class="greenText" Typo="Typo.h5">@medGroup.ParentServiceName c @medGroup.ServiceSD.Value.ToString("dd.MM.yyyy")</MudText>
                            </div>

                            foreach (ServiceMedicamentDto medItem in medGroup.ServiceMedicamentList)
                            {
                                string itemSD = medItem.CourseSD == null ? "" : "c " + medItem.CourseSD.Value.ToString("dd.MM.yyyy HH:mm");
                                string itemED = medItem.CourseED == null ? "" : "по " + medItem.CourseED.Value.ToString("dd.MM.yyyy HH:mm");
                                if (medItem.CourseMedicamentList != null)
                                {
                                    foreach (CourseMedicamentDto courseItem in medItem.CourseMedicamentList)
                                    {
                                        <MudGrid>
                                            <MudItem xs="3">
                                                <div><MudText Class="grayText">@itemSD</MudText></div>
                                                <div><MudText Class="grayText">@itemED</MudText></div>
                                            </MudItem>
                                            <MudItem xs="6">
                                                <div><MudText>@courseItem.CourseHeader</MudText></div>
                                                <div><MudText Class="grayText">@medItem.ApplicationMethod</MudText></div>
                                            </MudItem>
                                            <MudItem xs="3">
                                                <MudText Class="grayText">@courseItem.Taken из @courseItem.Prescribed принято</MudText>
                                            </MudItem>
                                        </MudGrid>
                                    }
                                }

                            }
                        }
                    }
                </MudTabPanel>
                <MudTabPanel Text="АРХИВ">
                    <MudGrid>
                        <MudItem xs="10">
                            <MudTextField OnKeyUp="@((KeyboardEventArgs evt) => { if (evt.Code == "Enter" || evt.Code == "NumpadEnter") { HandleSearch(); } })"
                                          OnClearButtonClick="HandleSearch"
                                          Clearable="true"
                                          FullWidth="true"
                                          @bind-Value="SearchQuery"
                                          Label="Название медикамента"
                                          Margin="Margin.Dense"
                                          Variant="Variant.Outlined"></MudTextField>
                        </MudItem>
                        <MudItem xs="2">
                            <MudIconButton @onclick="HandleSearch" Icon="@Icons.Material.Filled.Search" Variant="Variant.Filled" Color="Color.Primary" Class="searchButton" />
                        </MudItem>
                    </MudGrid>
                    @if (allMeds != null)
                    {
                        foreach (PatientMedicamentDto medGroup in allMeds.AllMedicamentList)
                        {
                            <div>
                                <MudText Class="greenText" Typo="Typo.h5">@medGroup.ParentServiceName c @medGroup.ServiceSD.Value.ToString("dd.MM.yyyy")</MudText>
                            </div>
                            foreach (ServiceMedicamentDto medItem in medGroup.ServiceMedicamentList)
                            {
                                string itemSD = medItem.CourseSD == null ? "" : "c " + medItem.CourseSD.Value.ToString("dd.MM.yyyy HH:mm");
                                string itemED = medItem.CourseED == null ? "" : "по " + medItem.CourseED.Value.ToString("dd.MM.yyyy HH:mm");
                                if (medItem.CourseMedicamentList != null)
                                {
                                    foreach (CourseMedicamentDto courseItem in medItem.CourseMedicamentList)
                                    {
                                        <MudGrid>
                                            <MudItem xs="3">
                                                <div><MudText Class="grayText">@itemSD</MudText></div>
                                                <div><MudText Class="grayText">@itemED</MudText></div>
                                            </MudItem>
                                            <MudItem xs="6">
                                                <div><MudText>@courseItem.CourseHeader</MudText></div>
                                                <div><MudText Class="grayText">@medItem.ApplicationMethod</MudText></div>
                                            </MudItem>
                                            <MudItem xs="3">
                                                <MudText Class="grayText">@courseItem.Taken из @courseItem.Prescribed принято</MudText>
                                            </MudItem>
                                        </MudGrid>
                                    }
                                }

                            }
                        }
                    }
                </MudTabPanel>
            </MudTabs>
        </div>
    </div>
</MudPaper>
<style>
    .arrowDown {
        transform: rotate(180deg);
    }
    .expanderButton {
        padding: 0;
    }
    .grayText {
        color: @DoctorAppWeb.Client.Shared.Colors.Gray
    }
    .greenText {
        color: @DoctorAppWeb.Client.Shared.Colors.Green
    }
    .tableHeader {
         background-color: @DoctorAppWeb.Client.Shared.Colors.LightBlue;
    }
    .innerTDPadding {
        padding-left: 1rem;
    }
    .searchButton {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 2px;
    }
</style>

@code {
    public bool showProgress = true;
    PatientMedicamentResultDto dtcMeds;
    PatientMedicamentResultDto iscMeds;
    PatientMedicamentResultDto allMeds;

    List<PatientMedicamentDto> fullList = new List<PatientMedicamentDto>();

    public string SearchQuery;

    protected override async Task OnInitializedAsync()
    {
        dtcMeds = await GetMedicamentsAsync(SrvType.DTC);
        iscMeds = await GetMedicamentsAsync(SrvType.ISC);
        PatientMedicamentResultDto archive = await GetMedicamentsAsync(SrvType.All);
        allMeds = archive;
        fullList = archive.AllMedicamentList.GetRange(0, archive.AllMedicamentList.Count);
    }

    private async Task<PatientMedicamentResultDto> GetMedicamentsAsync(SrvType srvType)
    {
        PatientMedicamentResultDto result = null;
        try
        {
            showProgress = true;
            StateContainer.ShowDrawer = true;
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "Medicaments/Medicaments");
            httpRequest.Headers.Add("patientId", PatientService.CurrentPatient.ToString());
            httpRequest.Headers.Add("hcsId", PatientService.HealthcareServiceId.ToString());
            httpRequest.Headers.Add("srvType", srvType.ToString());
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<PatientMedicamentResultDto>();
            showProgress = false;
        }
        catch (Exception ex)
        {

        }

        return result;
    }

    private void ShowBtnPress(ServiceMedicamentDto context)
    {
        context.ShowDetails = !context.ShowDetails;
    }

    private string ParseStartTime(ServiceMedicamentDto context)
    {
        return context.CourseSD != null ? context.CourseSD.Value.ToString("dd.MM.yyyy HH:mm") : "";
    }

    private string ParseEndTime(ServiceMedicamentDto context)
    {
        return context.CourseED != null ? context.CourseED.Value.ToString("dd.MM.yyyy HH:mm") : "";
    }

    private string GetRowClass(ServiceMedicamentDto context)
    {
        if (context.CourseMedicamentList != null)
        {
            if (context.CourseMedicamentList[0].Prescribed == context.CourseMedicamentList[0].Taken)
            {
                return "greenText";
            }
        }

        return "";
    }


    private string ParseMedEndTime(MedicamentTherapyInfoDto context)
    {
        return context.MedicamentED != null ? context.MedicamentED.Value.ToString("dd.MM.yyyy HH:mm") : "";
    }

    private string ParseTitle(ServiceMedicamentDto context)
    {
        return context.CourseMedicamentList != null ? context.CourseMedicamentList[0].CourseHeader : "";
    }


    private async Task HandleSearch()
    {
        if (String.IsNullOrEmpty(SearchQuery))
        {
            allMeds.AllMedicamentList = fullList;
            return;
        }
        List<PatientMedicamentDto> filtered = new List<PatientMedicamentDto>();

        foreach (PatientMedicamentDto medGroup in fullList)
        {
            PatientMedicamentDto filteredGroup = new PatientMedicamentDto();
            filteredGroup.ParentServiceName = medGroup.ParentServiceName;
            filteredGroup.ServiceED = medGroup.ServiceED;
            filteredGroup.ServiceSD = medGroup.ServiceSD;
            filteredGroup.ServiceMedicamentList = new List<ServiceMedicamentDto>();

            foreach (ServiceMedicamentDto medItem in medGroup.ServiceMedicamentList)
            {
                if (medItem.CourseMedicamentList != null)
                {
                    IEnumerable<CourseMedicamentDto> matches = medItem.CourseMedicamentList.Where(courseItem => courseItem.CourseHeader.ToLower().Contains(SearchQuery.ToLower()));
                    if (matches.Any())
                    {
                        ServiceMedicamentDto filteredItem = new ServiceMedicamentDto();
                        filteredItem.ApplicationMethod = medItem.ApplicationMethod;
                        filteredItem.CourseED = medItem.CourseED;
                        filteredItem.CourseSD = medItem.CourseSD;
                        filteredItem.GroupHeader = medItem.GroupHeader;
                        filteredItem.CourseMedicamentList = matches.ToList();

                        filteredGroup.ServiceMedicamentList.Add(filteredItem);
                    }
                }

            }

            if (filteredGroup.ServiceMedicamentList.Any())
            {
                filtered.Add(filteredGroup);
            }
        }

        allMeds.AllMedicamentList = filtered;

        /*
        List<ISCConsultanceDto> filtered = new List<ISCConsultanceDto>();
        foreach (ISCConsultanceDto consultGroup in fullList)
        {
            IEnumerable<ConsultanceDto> matches = consultGroup.ConsultanceList.Where(consult => consult.ConsultanceName.ToLower().Contains(SearchQuery.ToLower()));
            if (matches.Any())
            {
                ISCConsultanceDto filteredGroup = new ISCConsultanceDto();

                filteredGroup.ConsultanceList = matches.ToList();
                filteredGroup.EndDate = consultGroup.EndDate;
                filteredGroup.ISCName = consultGroup.ISCName;
                filteredGroup.StartDate = consultGroup.StartDate;

                filtered.Add(filteredGroup);
            }
        }

        allConsult.AllConsultanceList = filtered;
    }
        */
    }
}
