@page "/persons"
@using Microsoft.AspNetCore.Components.Authorization
@using Newtonsoft.Json
@inject HttpClient Http
@inject IIndexedDbFactory DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IPatientsService PatientService
@inject NavigationManager navigationManager
@inject StateContainer StateContainer
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<Progress isVisible="@showProgress"></Progress>
<MudPaper>
    <div class="pageWrapper">
        <div class="pageHeader">
            <MudText Typo="Typo.h5">
                Пациенты
            </MudText>

            <div class="flexSpacer" />

            <MudIconButton Class="pale-icon" Icon="@Icons.Material.Outlined.Refresh" aria-label="refresh"></MudIconButton>
            <MudIconButton Class="pale-icon" OnClick="@(() => GoToCustomizationPersons())" Icon="@Icons.Material.Outlined.Settings" aria-label="settings"></MudIconButton>
        </div>

        <div class="tabWrapper">
            <MudTabs>
                <MudTabPanel OnClick="@(() => FilterMyPatientsClick())" Text="МОИ">
                </MudTabPanel>
                <MudTabPanel OnClick="@(() => FilterToMyDepartmentPatientsClick())" Text="ПОСТУПИВШИЕ">
                </MudTabPanel>
                <MudTabPanel OnClick="@(() => FilterInEmergencyPatientsClick())" Text="В ПРИЕМНОМ">
                </MudTabPanel>
                <MudTabPanel OnClick="@(() => FilterAllPatientsClick())" Text="ВСЕ ПАЦИЕНТЫ">
                    <MudGrid Spacing="1" Class="filtersWrapper">
                        <MudItem xs="10">
                            <MudTextField OnKeyUp="@((KeyboardEventArgs evt) => { if (evt.Code == "Enter" || evt.Code == "NumpadEnter") { FindPatients(); } })"
                                          OnClearButtonClick="FindPatients"
                                          Clearable="true"
                                          FullWidth="true"
                                          @bind-Value="SearchQuery"
                                          Label="ФИО или номер ИБ"
                                          Margin="Margin.Dense"
                                          Variant="Variant.Outlined"></MudTextField>
                        </MudItem>
                        <MudItem xs="2">
                            <MudIconButton @onclick="FindPatients" Icon="@Icons.Material.Filled.Search" Variant="Variant.Filled" Color="Color.Primary" Class="searchButton" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Clearable="true"
                                       OnClearButtonClick="FindPatients"
                                       @bind-Value="@SelectedDepartment"
                                       T="string"
                                       Label="Отделение"
                                       Margin="Margin.Dense"
                                       Variant="Variant.Outlined">
                                @foreach (Department dep in Departments)
                                {
                                    <MudSelectItem T="string" Value="@dep.BusinessElementFullName">@dep.BusinessElementFullName</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                        <MudItem xs="6">
                            <MudSelect Clearable="true"
                                       OnClearButtonClick="FindPatients"
                                       @bind-Value="@SelectedDoctor"
                                       T="string"
                                       Label="Лечащий врач"
                                       Margin="Margin.Dense"
                                       Variant="Variant.Outlined">
                                @foreach (DoctorAppWeb.Shared.DataModel.MedOrganization.Doctor doctor in Doctors)
                                {
                                    string doc = doctor.SurName + " " + doctor.FirstName + " " + doctor.Patronymic;
                                    <MudSelectItem T="string" Value="@doc">@doc</MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    </MudGrid>

                </MudTabPanel>
            </MudTabs>
        </div>

        <MudTable AllowUnsorted="false" Items="@AllPersons" Hover="false" Dense="true">
            <HeaderContent>
                <MudTh Class="tableHeader"></MudTh>
                @foreach (var field in CustomGridPerson)
                {
                    if (field.WhereToDisplay)
                    {
                        <MudTh Class="tableHeader">
                            <MudTableSortLabel SortBy="new Func<Patient, object>(x=>x.GetPropertyValue(field.NameColumnEn))">
                                <span class="tableHeaderText">@field.NameColumnRu</span>
                            </MudTableSortLabel>
                        </MudTh>
                    }

                }
                <MudTh Class="stickyCell tableHeader"></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown"
                                   OnClick="@(() => ShowBtnPress(context.PersonID))"
                                   Size="Size.Large" class=@(context.ShowDetails ? "expanderButton arrowDown" : "expanderButton")></MudIconButton>
                </MudTd>


                @foreach (var field in CustomGridPerson)
                {
                    if (field.WhereToDisplay)
                    {
                        <MudTd>
                            <MudText Typo="Typo.body1">@context.GetPropertyValue(field.NameColumnEn)</MudText>
                        </MudTd>
                    }
                }
                <MudTd Class="stickyCell stickyWhiteBg">
                    <MudIconButton Class="goToPatientBtn" Icon="@DoctorIcons.ArrowRight" OnClick="@(() => {
                                                                                 string titleInfo = context.Lastname + " " + context.Firstname + " " + context.Patronymic + " " + context.Birthday + " (" + context.Age + ") " + context.StayDep + " " + context.ServiceCaseNumber;
                                                                                 GoToPatientInfo(context.PersonID, titleInfo, context.HealthcareServiceId, context);
                                                                                 })" Variant="Variant.Outlined" Color="Color.Secondary">
                        <!--<DoctorAppWeb.Client.Pages.IconComponents.ArrowRight />-->
                    </MudIconButton>
                </MudTd>
            </RowTemplate>
            <ChildRowContent>
                @if (context.ShowDetails)
                {
                    string fullName = context.Lastname + " " + context.Firstname + " " + context.Patronymic;


                    <MudTr>
                        <td class="green"></td>
                        <td class="green" colspan="@CustomGridPerson.Count">
                            <div class="descriprion">
                                <MudGrid Spacing="0">
                                    @foreach (var field in CustomGridPerson)
                                    {
                                        string value = context.GetPropertyValue(field.NameColumnEn);
                                        if (!field.WhereToDisplay && !string.IsNullOrEmpty(value))
                                        {
                                            int xs;
                                            int threshold = 20;
                                            if (value?.Length > threshold)
                                            {
                                                xs = 12; // full line
                                            }
                                            else
                                            {
                                                xs = 6; // half line
                                            }
                                            <MudItem xs="@xs">

                                                @if (field.NameColumnEn != "SexEnum")
                                                {
                                                    <span class="descriprion-title" Color="Color.Secondary">@field.NameColumnRu: </span><span class="descriprion-content">@value</span>
                                                }
                                                else
                                                {
                                                    if (value == "1")
                                                    {
                                                        <span class="descriprion-title" Color="Color.Secondary">@field.NameColumnRu: </span>
                                                        <MudIcon Class="darkBlue" Icon="@Icons.Material.Filled.Male" />
                                                    }
                                                    else
                                                    {
                                                        <span class="descriprion-title" Color="Color.Secondary">@field.NameColumnRu: </span>
                                                        <MudIcon Class="darkRed" Icon="@Icons.Material.Filled.Female" />
                                                    }
                                                }

                                            </MudItem>

                                        }
                                    }
                                </MudGrid>
                            </div>
                        </td>
                    </MudTr>
                }
            </ChildRowContent>
            <PagerContent>
                <MudTablePager InfoFormat="{first_item}-{last_item} из {all_items}" RowsPerPageString="Строк:" />
            </PagerContent>
        </MudTable>
    </div>
</MudPaper>

<style>
    #mainMenu {
        display: none;
    }

    .pageHeader {
        display: flex;
        align-items: baseline;
    }

    .flexSpacer {
        flex: 1;
    }

    .tabWrapper {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .arrowDown {
        transform: rotate(180deg);
    }
    .green {
        background-color: @DoctorAppWeb.Client.Shared.Colors.LightGreen;
    }
    .descriprion {
        width: calc(100vw - 163px);
        padding: 0.7rem;
    }
    .descriprion-title {
        color:  @DoctorAppWeb.Client.Shared.Colors.Green;
        font-size: 1rem;
    }
    .descriprion-content {
        color: @DoctorAppWeb.Client.Shared.Colors.Gray;
        font-size: 1rem;
    }
    .tableHeader {
        background-color: @DoctorAppWeb.Client.Shared.Colors.LightBlue;
    }
    .stickyWhiteBg {
        background: white;
    }
    .tableHeaderText {
        color: @DoctorAppWeb.Client.Shared.Colors.Gray;
        font-weight: 600;
        line-height: 1rem;
    }
    .stickyCell {
        position: sticky;
        right: -1px;
    }
    .stickyCell:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid var(--mud-palette-table-lines);
    }
    .searchButton {
        width: 100%;
        margin-top: 3px;
        margin-bottom: 2px;
    }
    .filtersWrapper {
        margin-top: 0.2rem;
    }
    .goToPatientBtn {
        width: 80px;
    }
    .pale-icon {
        color: @DoctorAppWeb.Client.Shared.Colors.BorderGray;
        width: 1.5rem;
        height: 1.5rem;
    }
    .darkBlue {
        color: @DoctorAppWeb.Client.Shared.Colors.DarkBlue;
    }
    .darkRed {
        color: @DoctorAppWeb.Client.Shared.Colors.DarkRed;
    }
    .expanderButton {
        padding: 0;
    }
</style>

@code{



    async Task GoToCustomizationPersons()
    {
        navigationManager.NavigateTo(PatientService.CurrentPage + "Custom");
    }

    async Task GoToPatientInfo(Guid id, string title, Guid hcsId, Patient person)
    {
        StateContainer.AppTitle = title;
        PatientService.CurrentPatient = id;
        PatientService.HealthcareServiceId = hcsId;
        StateContainer.CurrentPage = Pages.Diagnosis;
        StateContainer.CurrentPatient = person;

        await localStorage.SetItemAsync("CurrentPatientID", id);
        await localStorage.SetItemAsync("HealthcareServiceId", hcsId);
        await localStorage.SetItemAsync("AppTitle", title);
        await localStorage.SetItemAsync("CurrentPage", Pages.Diagnosis);
        await localStorage.SetItemAsync("CurrentPersonID", person.PersonID);

        string stringifiedPerson = JsonConvert.SerializeObject(person);

        await localStorage.SetItemAsync("CurrentPatient", stringifiedPerson);

        navigationManager.NavigateTo(Pages.Diagnosis);
    }

    void FindPatients()
    {
        List<Tuple<Patient, string>> searchIndex = PatientService.AllPersons.Select(x => new Tuple<Patient, string>(x, x.Lastname?.ToLower() + x.Firstname?.ToLower() + x.Patronymic?.ToLower() + x.ServiceCaseNumber?.ToLower())).ToList();
        List<Patient> tempPatientsResult = new List<Patient>(PatientService.AllPersons);

        if (!string.IsNullOrWhiteSpace(SearchQuery))
        {
            tempPatientsResult = searchIndex.Where(x => x.Item2.Contains(SearchQuery.ToLower())).Select(x => x.Item1).ToList();
        }

        if (!string.IsNullOrWhiteSpace(SelectedDepartment))
        {
            // filtering doctors by department
            Doctors = Doctors
            .Where(doctor => doctor.PersonnelPositionList.Count() > 0 && doctor.PersonnelPositionList
                .Where(position => position.Department != null && position.Department.ToLower().Equals(SelectedDepartment.ToLower()))
            .Count() > 0);

            tempPatientsResult = tempPatientsResult.Where(x => x.ResponsibleDep?.ToLower() == SelectedDepartment.ToLower()).ToList();

        }
        else
        {
            Doctors = FullDoctorsList;
        }

        if (!string.IsNullOrWhiteSpace(SelectedDoctor))
        {
            // filtering departments by doctor
            var currentDoctor = Doctors.Where(doctor => (doctor.SurName + " " + doctor.FirstName + " " + doctor.Patronymic).Equals(SelectedDoctor));
            var doctorDepartments = currentDoctor.First().PersonnelPositionList.Select(pos => pos.Department);
            Departments = Departments.Where(dep => doctorDepartments.Contains(dep.BusinessElementFullName));

            // todo: the implementation is incorrect due to bad data in "Doctor" property
            tempPatientsResult = tempPatientsResult.Where(x => (x.Doctor != null ? x.Doctor.Split(' ')[0].ToLower() : "").Equals(SelectedDoctor.ToLower().Split(' ')[0])).ToList();
            //tempPatientsResult = tempPatientsResult.Where(x => x.Doctor?.ToLower() == SelectedDoctor?.ToLower()).ToList();
        }
        else
        {
            Departments = FullDepartmentList;
        }

        tempPatientsResult = tempPatientsResult ?? new List<Patient>();
        AllPersons = tempPatientsResult.ToArray();
    }

    private void ShowBtnPress(Guid id)
    {
        Patient tmpPerson = AllPersons.First(f => f.PersonID == id);
        tmpPerson.ShowDetails = !tmpPerson.ShowDetails;
    }

    //Стили
    private string MyPatientsStyle { get; set; }
    private string DepPatientsStyle { get; set; }
    private string EmergencyPatientStyle { get; set; }
    private string AllPatientStyle { get; set; }
    private const string StyleForFilter = "text-decoration:underline; color: #3f51b5;";
    //Конец стилей

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }
    public string FullDocName { get; set; }
    private string GetDataButtonLabel;
    private Patient[] AllPersons;
    public string SelectedDepartment = " ";
    public string SelectedDoctor = " ";
    public IEnumerable<DoctorAppWeb.Shared.DataModel.MedOrganization.Doctor> Doctors { get; set; }
    public IEnumerable<Department> Departments { get; set; }
    public IEnumerable<DoctorAppWeb.Shared.DataModel.MedOrganization.Doctor> FullDoctorsList { get; set; }
    public IEnumerable<Department> FullDepartmentList { get; set; }
    private int PageSize = 10;
    private string SearchQuery { get; set; }
    private List<CustomGridPerson> CustomGridPerson { get; set; }
    private List<CustomGroupPerson> CustomGroupPerson { get; set; }
    public bool showProgress = true;


    /// <summary>
    /// Кол-во пациентов, удовлетворяющих поисковому выражению
    /// </summary>
    private int PersonsCount;

    protected override async Task OnInitializedAsync()
    {
        StateContainer.ShowDrawer = false;
        StateContainer.AppTitle = "";
        StateContainer.CurrentPatient = null;
        showProgress = true;

        await localStorage.RemoveItemAsync("CurrentPatientID");
        await localStorage.RemoveItemAsync("HealthcareServiceId");
        await localStorage.RemoveItemAsync("AppTitle");
        await localStorage.RemoveItemAsync("CurrentPage");
        await localStorage.RemoveItemAsync("CurrentPatient");

        using (var db = await this.DbFactory.Create<IndexedApplicationDb>())
        {
            Departments = db.Departments;
            Doctors = db.Doctors;

            FullDoctorsList = db.Doctors;
            FullDepartmentList = db.Departments;

            CustomGroupPerson = await ConvertToObjCustomGroup(db.PagesSettings.FirstOrDefault(x => x.FormID?.ToLower() == "customgroupperson")?.FormSettings);
            CustomGridPerson = await ConvertJsonToObjPersonCustomization(db.PagesSettings.FirstOrDefault(x => x.FormID?.ToLower() == "customgridperson")?.FormSettings);
            string filterName = CustomGroupPerson.FirstOrDefault(x => x.Selected)?.NameButtonEn;
            //PatientService.FilterType = 7; //УДАЛИТЬ
            switch (filterName) //ИСПРАВИТЬ НА ФИЛЬТРНЕЙМ
            {
                case "MyPatient": PatientService.FilterType = 1; break;
                case "InEmergencyRoom": PatientService.FilterType = 2; break;
                case "ToMyDepartments": PatientService.FilterType = 4; break;
                case "AllPatients": PatientService.FilterType = 7; break;
                default: PatientService.FilterType = 1; break;
            }
        }
        PatientService.CurrentPage = "persons";
        if (PatientService.FilterType == 0 || !PatientService.FilterType.HasValue)
        {
            PatientService.FilterType = 1;
        }
        string userName = (await AuthenticationState).User.Identity.Name;
        PatientService.UserName = userName;
        PatientService.AllPersons = (await LoadDataToIndexedDb())?.ToList();
        if (PatientService.AllPersons != null)
        {
            PersonsCount = PatientService.AllPersons.Count();
            UpdatePagePersons();
        }
        showProgress = false;
    }

    protected void UpdatePagePersons(bool resetLastPageNumber = false)
    {
        AllPersons = PatientService.AllPersons.ToArray();

        // todo: figure out wtf is that
        /*if (string.IsNullOrEmpty(SearchQuery))
        {
            AllPersons = PatientService.AllPersons.ToArray();
        }
        else
        {
            AllPersons = PatientService.AllPersons.Where(p => (p.Lastname + " " + p.Firstname + " " + p.Patronymic).ToLower().Contains(SearchQuery.ToLower())).ToArray();
        }*/
    }

    private async Task FilterMyPatientsClick()
    {
        showProgress = true;
        SearchQuery = string.Empty;
        DepPatientsStyle = EmergencyPatientStyle = AllPatientStyle = null;
        MyPatientsStyle = StyleForFilter;
        PatientService.FilterType = 1;
        await ShowData();
        showProgress = false;
    }

    private async Task FilterToMyDepartmentPatientsClick()
    {
        showProgress = true;
        SearchQuery = string.Empty;
        MyPatientsStyle = EmergencyPatientStyle = AllPatientStyle = null;
        DepPatientsStyle = StyleForFilter;
        PatientService.FilterType = 4;
        await ShowData();
        showProgress = false;
    }

    private async Task FilterInEmergencyPatientsClick()
    {
        showProgress = true;
        SearchQuery = string.Empty;
        DepPatientsStyle = MyPatientsStyle = AllPatientStyle = null;
        EmergencyPatientStyle = StyleForFilter;
        PatientService.FilterType = 2;
        await ShowData();
        showProgress = false;
    }

    private async Task FilterAllPatientsClick()
    {
        showProgress = true;
        DepPatientsStyle = MyPatientsStyle = EmergencyPatientStyle = null;
        AllPatientStyle = StyleForFilter;
        PatientService.FilterType = 7;
        await ShowData();
        showProgress = false;
    }

    private async Task ShowData()
    {
        PatientService.AllPersons = await LoadDataToIndexedDb(true);
        if (PatientService.AllPersons != null)
        {
            PersonsCount = PatientService.AllPersons.Count();
            UpdatePagePersons(true);
        }
        StateHasChanged();
    }

    private async Task<List<ServiceMedDocDto>> GetInfoMedDocList()
    {
        List<ServiceMedDocDto> result = null;
        try
        {
            showProgress = true;
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "Info/MedDocList");
            httpRequest.Headers.Add("personId", StateContainer.CurrentPatient.PersonID.ToString());
            httpRequest.Headers.Add("hcsId", PatientService.HealthcareServiceId.ToString());
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<List<ServiceMedDocDto>>();
            showProgress = false;
        }
        catch (Exception ex)
        {

        }

        return result;
    }

    private async Task<MedDocDto> GetInfoMedDoc(Guid epicrisisVersionId)
    {
        MedDocDto result = null;
        try
        {
            showProgress = true;
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "Info/MedDoc");
            httpRequest.Headers.Add("epicrisisVersionId", epicrisisVersionId.ToString());
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<MedDocDto>();
            showProgress = false;
        }
        catch (Exception ex)
        {

        }

        return result;
    }

    private async Task<List<Patient>> LoadDataToIndexedDb(bool force = false)
    {
        try
        {
            string userName = (await AuthenticationState).User.Identity.Name;
            var request = new HttpRequestMessage(HttpMethod.Get, "Persons");
            request.Headers.Add("FilterType", PatientService.FilterType?.ToString());
            request.Headers.Add("UserLogin", userName);
            using var httpResponse = await Http.SendAsync(request);
            IEnumerable<PatientDto> result = await httpResponse.Content.ReadFromJsonAsync<IEnumerable<PatientDto>>();
            if (result != null && result.Any() || force)
            {
                PatientService.AllPersons = new List<Patient>();
                using (var db = await this.DbFactory.Create<IndexedApplicationDb>())
                {
                    List<Patient> patients = new List<Patient>();
                    db.Patients.Clear();
                    await db.SaveChanges();
                    foreach (PatientDto person in result)
                    {
                        Patient patient = new Patient
                        {
                            PersonID = person.PersonID,
                            Firstname = person.Firstname,
                            Lastname = person.Lastname,
                            Patronymic = person.Patronymic,
                            Age = person.Age,
                            Birthday = person.Birthday.Value.ToString("dd.MM.yyyy"),
                            Bed = person.Bed,
                            Room = person.Room,
                            isChanged = person.isChanged,
                            VersionID = person.VersionID,
                            StayDep = person.StayDep,
                            ResponsibleDep = person.ResponsibleDep,
                            InResuscitation = person.InResuscitation,
                            ObservationMode = person.ObservationMode,
                            PhysicalRestraint = person.PhysicalRestraint,
                            ObservationType = person.ObservationType,
                            ServiceCaseNumber = person.ServiceCaseNumber,
                            Doctor = person.Doctor,
                            Diagnos = person.Diagnos,
                            SDDepTreatmentCase = person.SDDepTreatmentCase,
                            SDInpatientServiceCase = person.SDInpatientServiceCase.Value.ToString("dd.MM.yyyy HH:mm"),
                            AgeDescription = person.AgeDescription,
                            SexEnum = person.SexEnum,
                            DiagnosAnamnesisID = person.DiagnosAnamnesisID,
                            LifeAnamnesisID = person.LifeAnamnesisID,
                            Benefits = person.Benefits,
                            HealthcareServiceId = person.HealthcareServiceId,
                            HelpForm = person.HelpForm,
                            IsWorking = person.IsWorking,
                            IsWorkingStr = person.IsWorking ? "Работает" : "Не работает",
                            PathologyАnamnesisID = person.PathologyАnamnesisID,
                            SDReceptionCase = person.SDReceptionCase,
                            PersonnelID = person.PersonnelID,
                            AdmissionInfoDtc = person.AdmissionInfo?["Dtc"],
                            AdmissionInfoInpatientSrv = person.AdmissionInfo?["InpatientSrv"],
                            AdmissionInfoReceptCase = person.AdmissionInfo?["ReceptCase"],
                            AdmissionInfo = new AdmissionInfo { Dtc = person.AdmissionInfo?["Dtc"], InpatientSrv = person.AdmissionInfo?["InpatientSrv"], ReceptCase = person.AdmissionInfo?["ReceptCase"] }
                        };
                        db.Patients.Add(patient);
                        patients.Add(patient);
                    }
                    await db.SaveChanges();
                    return patients;
                }
            }
        }
        catch
        {

        }
        return null;
    }

    private async Task<List<CustomGridPerson>> ConvertJsonToObjPersonCustomization(string json)
    {
        List<CustomGridPerson> gridCustomization = new List<CustomGridPerson>();
        foreach (List<object> customization in string.IsNullOrWhiteSpace(json) ? DefaultGridPersonCustomization.GetDefaults() : JsonConvert.DeserializeObject<GridPersonCustomization>(json).customGridPerson)
        {
            CustomGridPerson customGridPerson = new CustomGridPerson();
            customGridPerson.NameColumnEn = customization.ElementAtOrDefault(0)?.ToString();
            customGridPerson.NameColumnRu = customization.ElementAtOrDefault(1)?.ToString();
            customGridPerson.OrderColumn = int.Parse(customization.ElementAtOrDefault(2)?.ToString() ?? int.MaxValue.ToString());
            customGridPerson.VisibilityColumn = bool.Parse(customization.ElementAtOrDefault(3)?.ToString() ?? false.ToString());
            customGridPerson.AvailableGroupings = bool.Parse(customization.ElementAtOrDefault(4)?.ToString() ?? false.ToString());
            customGridPerson.IsGrouping = bool.Parse(customization.ElementAtOrDefault(5)?.ToString() ?? false.ToString());
            customGridPerson.WhereToDisplay = bool.Parse(customization.ElementAtOrDefault(6)?.ToString() ?? false.ToString());
            customGridPerson.DateUpdate = customization.ElementAtOrDefault(7) as DateTime?;
            gridCustomization.Add(customGridPerson);
        }
        if (string.IsNullOrWhiteSpace(json))
        {
            using (var db = await this.DbFactory.Create<IndexedApplicationDb>())
            {
                PagesSettings pagesSetting = db.PagesSettings.FirstOrDefault(x => x.FormID?.ToLower() == "customgridperson");
                if (pagesSetting == null)
                {
                    pagesSetting = new PagesSettings { FormID = "customGridPerson" };
                    db.PagesSettings.Add(pagesSetting);
                }
                if (string.IsNullOrWhiteSpace(pagesSetting.FormSettings))
                {
                    pagesSetting.FormSettings = JsonConvert.SerializeObject(new GridPersonCustomization { customGridPerson = DefaultGridPersonCustomization.GetDefaults() });
                }

                await db.SaveChanges();
            }
        }
        return gridCustomization;
    }

    private async Task<List<CustomGroupPerson>> ConvertToObjCustomGroup(string json)
    {
        List<CustomGroupPerson> customGroupPersons = new List<CustomGroupPerson>();
        foreach (List<object> customization in string.IsNullOrWhiteSpace(json) ? DefaultGroupPersonCustomization.GetDefaults() : JsonConvert.DeserializeObject<GroupPersonCustomization>(json).customGroupPerson)
        {
            CustomGroupPerson customGroupPerson = new CustomGroupPerson();
            customGroupPerson.NameButtonEn = customization.ElementAtOrDefault(0)?.ToString();
            customGroupPerson.NameButtonRu = customization.ElementAtOrDefault(1)?.ToString();
            customGroupPerson.Selected = bool.Parse(customization.ElementAtOrDefault(2)?.ToString() ?? false.ToString());
            customGroupPerson.DateUpdate = customization.ElementAtOrDefault(3) as DateTime?;
            customGroupPersons.Add(customGroupPerson);
        }

        if (string.IsNullOrWhiteSpace(json))
        {
            using (var db = await this.DbFactory.Create<IndexedApplicationDb>())
            {
                PagesSettings pagesSetting = db.PagesSettings.FirstOrDefault(x => x.FormID?.ToLower() == "customgroupperson");
                if (pagesSetting == null)
                {
                    pagesSetting = new PagesSettings { FormID = "customGroupPerson" };
                    db.PagesSettings.Add(pagesSetting);
                }
                if (string.IsNullOrWhiteSpace(pagesSetting.FormSettings))
                {
                    pagesSetting.FormSettings = JsonConvert.SerializeObject(new GroupPersonCustomization { customGroupPerson = DefaultGroupPersonCustomization.GetDefaults() });
                }

                await db.SaveChanges();
            }
        }
        return customGroupPersons;
    }
}
