@page "/personlist"
@using DoctorAppWeb.Shared
@using PatientsWcf
@using System.Linq;
@using IndexedDB.Blazor;
@using DoctorAppWeb.Shared.Models;
@inject HttpClient Http
@inject IIndexedDbFactory DbFactory
<h1>Мои пациенты</h1>
@if (PersonsOnPage == null)
{
    <p><em>Загрузка...</em></p>
}
else
{

    <div class="persons-top-container alert alert-secondary">
        <span class="btn">Всего пациентов @PersonsCount</span>
        <span style="justify-self: flex-end; margin-left: auto;">
            <button class="btn btn-info" type="button" @onclick="OnFilterButtonClicked">Изменить отбор</button>
        </span>
    </div>

    


    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <input type="search"
                           class="form-control ds-input"
                           id="search-input"
                           placeholder="Поиск..."
                           style="position: relative; vertical-align: top;"
                           @oninput="@OnInputSearchAsync"
                           @onchange="@OnSearchAsync">
                    <datalist id="search-persons-datalist">

                        @foreach (var person in AllPersons)
                        {
                            <option value="@person.Lastname @person.Firstname @person.Patronymic">@person.Lastname @person.Firstname @person.Patronymic</option>
                        }

                    </datalist>
                </th>
                <th scope="col">
                    <span class="btn">Возраст</span>
                </th>
                <th scope="col">
                    <span class="btn">Отделение</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (PersonsOnPage.Count() == 0)
            {
                <tr>
                    <th scope="row" colspan="3">
                        <div class="alert alert-warning">Нет записей удовлетворяющих поисковому выражению: "@SearchQuery"</div>
                    </th>
                </tr>
            }
            else
            {
                @foreach (PersonDto person in PersonsOnPage)
                {
                    <tr>
                        <th scope="row">@person.Lastname @person.Firstname @person.Patronymic</th>
                        <td>30</td>
                        <td>Терапевтическое</td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">
                    <div class="persons-bottom-container">
                        @if (PersonsOnPage.Count() > 0)
                        {
                            <span style="justify-self: flex-end; margin-left: auto;" class="btn">
                                Показано @((PageNumber-1)*PageSize+1) - @((PageNumber-1)*PageSize+ PersonsOnPage.Count()) из @PersonsCount
                            </span>
                            @if (PageNumber > 1)
                            {
                                <button class="btn" @onclick="@OnPrevPageClicked">&lt;</button>
                            }
                            @if (PageNumber < PagesCount)
                            {
                                <button class="btn" @onclick="@OnNextPageClicked">&gt;</button>
                            }
                        }
                    </div>
                </th>
            </tr>
        </tfoot>
    </table>


}

@code {

    /// <summary>
    /// Все пациенты
    /// </summary>
    private PersonDto[] AllPersons;

    /// <summary>
    /// Пациенты, отображаемые на странице
    /// </summary>
    private PersonDto[] PersonsOnPage;

    /// <summary>
    /// Кол-во пациентов, удовлетворяющих поисковому выражению
    /// </summary>
    private int PersonsCount;

    /// <summary>
    /// Номер страницы
    /// </summary>
    private int PageNumber = 1;

    /// <summary>
    /// Кол-во записей на странице
    /// </summary>
    private int PageSize = 10;

    /// <summary>
    /// Кол-во страниц
    /// </summary>
    private int PagesCount;

    /// <summary>
    /// Значение в поисковой строке
    /// </summary>
    private string InputSearchValue = "";

    /// <summary>
    /// Поисковое выражение
    /// </summary>
    private string SearchQuery = "";

    /// <summary>
    /// Выполняется по событию ввода текста в поле поиска
    /// </summary>
    /// <returns></returns>
    protected void OnInputSearchAsync(ChangeEventArgs evt)
    {
        InputSearchValue = evt.Value.ToString();
    }

    /// <summary>
    /// Выполняется по событию изменения текста в поле поиска
    /// </summary>
    /// <returns></returns>
    protected void OnSearchAsync(ChangeEventArgs evt)
    {
        SearchQuery = evt.Value.ToString();
        PageNumber = 1;
        PersonsCount = AllPersons.Where(p => (p.Firstname + " " + p.Lastname + " " + p.Patronymic).ToLower().Contains(SearchQuery.ToLower())).Count();
        PagesCount = PersonsCount % PageSize > 0 ? (int)(1 + Math.Floor((decimal)(PersonsCount / PageSize))) : (int)(PersonsCount / PageSize);
        UpdatePagePersons();
    }



    /// <summary>
    /// Выполняется по событию нажатия кнопки "Изменить отбор"
    /// </summary>
    /// <returns></returns>
    protected void OnFilterButtonClicked()
    {

    }

    /// <summary>
    /// Выполняется по событию нажатия кнопки перехода на предыдущую страницу
    /// </summary>
    /// <returns></returns>
    protected void OnPrevPageClicked()
    {
        this.PageNumber--;
        this.UpdatePagePersons();
    }

    /// <summary>
    /// Выполняется по событию нажатия кнопки перехода на следующую страницу
    /// </summary>
    /// <returns></returns>
    protected void OnNextPageClicked()
    {
        this.PageNumber++;
        this.UpdatePagePersons();
    }


    /// <summary>
    /// Обновление отображаемых записей
    /// </summary>
    protected void UpdatePagePersons()
    {
        if (string.IsNullOrEmpty(SearchQuery))
        {
            PersonsOnPage = AllPersons.Skip((PageNumber - 1) * PageSize).Take(PageSize).ToArray();
        }
        else
        {
            PersonsOnPage = AllPersons.Where(p => (p.Lastname + " " + p.Firstname + " " + p.Patronymic).ToLower().Contains(SearchQuery.ToLower())).Skip((PageNumber - 1) * PageSize).Take(PageSize).ToArray();
        }

    }






    protected override async Task OnInitializedAsync()
    {
        AllPersons = await Http.GetFromJsonAsync<PersonDto[]>("Persons");
        PersonsCount = AllPersons.Count();
        PagesCount = PersonsCount % PageSize > 0 ? (int)(1 + Math.Floor((decimal)(PersonsCount / PageSize))) : (int)(PersonsCount / PageSize);
        UpdatePagePersons();
        
    }
}
