@page "/personsCustom"
@using Microsoft.AspNetCore.Components.Authorization
@inject HttpClient Http
@inject IIndexedDbFactory DbFactory
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IPatientsService PatientService
<h4>Настройка списка пациентов</h4>
<div>
    <MudText Typo="Typo.h6">Вкладка по умолчанию</MudText>
    <MudRadioGroup @bind-SelectedOption="@CurrentFilter" TValue="string">
        <MudRadio  Option="@("My")" TValue="string">Мои пациенты</MudRadio>
        <MudRadio  Option="@("New")" Label="Female" TValue="string">Поступившие</MudRadio>
        <MudRadio  Option="@("Emergency")" TValue="string">В приемном</MudRadio>
        <MudRadio  Option="@("All")" Disabled="true" TValue="string">Все пациенты</MudRadio>
    </MudRadioGroup>
</div>

@code {
    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }
    protected string CurrentFilter { get; set; }
    protected override async Task OnInitializedAsync()
    {
        using (var db = await this.DbFactory.Create<IndexedApplicationDb>())
        {
            string filterName = null;// db.CustomPersons.FirstOrDefault()?.CustomGroupPersons.FirstOrDefault(x => x.Selected)?.NameButtonEn;
            switch (filterName)
            {
                case "MyPatient": CurrentFilter = "1"; break;
                case "InEmergencyRoom": CurrentFilter = "2"; break;
                case "ToMyDepartments": CurrentFilter = "4"; break;
                case "AllPatients": CurrentFilter = "7"; break;
                default: CurrentFilter = "1"; break;
            }
        }
    }
}