@page "/personsCustom"
@inject IIndexedDbFactory DbFactory
<h4>Настройка списка пациентов</h4>
<div>
    <MudText Typo="Typo.h6">Вкладка по умолчанию</MudText>
    <MudRadioGroup @bind-SelectedOption="@Current" TValue="string">
        <MudRadio  Option="@("My")" TValue="string">Мои пациенты</MudRadio>
        <MudRadio  Option="@("New")" Label="Female" TValue="string">Поступившие</MudRadio>
        <MudRadio  Option="@("Emergency")" TValue="string">В приемном</MudRadio>
        <MudRadio  Option="@("All")" Disabled="true" TValue="string">Все пациенты</MudRadio>
    </MudRadioGroup>
</div>

@code {
    protected string Current;
    protected override async Task OnInitializedAsync()
    {
        using (var db = await this.DbFactory.Create<IndexedApplicationDb>())
        {
            
        }
    }
}