@inherits LayoutComponentBase
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject IIndexedDbFactory DbFactory
@inject StateContainer StateContainer

@if (isMenuVisible)
{
<div class="menuBlock">
    <div class="menuBlockItem">
        <MudButton IconClass="exitIcon" Color="Color.Tertiary" EndIcon="@Icons.Material.Filled.ExitToApp" Variant="Variant.Outlined" OnClick="LogoutClick">Выйти</MudButton>
    </div>
    <br>
    <MudDivider />
    <br>
    <div class="menuBlockItem">
        <MudButton IconClass="customIcon" Color="Color.Tertiary" Variant="Variant.Outlined" OnClick="CustomizationTree">Кастомизация</MudButton>
    </div>
</div>
}
<MudOverlay OnClick="DisplayMenu" @bind-Visible="isMenuVisible" DarkBackground="true" ZIndex="1101" AutoClose="false" />

<MudLayout>
    <MudAppBar Class="appBar">
        <div class="logoContainer"><img class="logo" src="logoWhite.svg"></div>
        @if (StateContainer.AppTitle?.Length > 0 && !isMenuVisible)
        {
            <MudIconButton Class="whiteButton" Size="Size.Large" Icon="@Icons.Material.Filled.ChevronLeft" OnClick="@(() => GoBack())"></MudIconButton><div class="flexSpacer" />
        }
        @if (!isMenuVisible)
        {
            <MudText>@StateContainer.AppTitle</MudText>
        }

        <div class="flexSpacer" />
        <MudIcon @onclick="DisplayMenu" Class="whiteButton" Icon="@(SetMenuIcon())" />
    </MudAppBar>
    <!-- for mini variant: Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" -->
    <MudDrawer Style="top: 2rem; width: 20%;" ClipMode="@DrawerClipMode.Docked" @bind-Open="@StateContainer.ShowDrawer">
        <AuthorizeView>
            <NavMenu />
        </AuthorizeView>
    </MudDrawer>

    <MudMainContent Style="min-height: 100vh; padding-top: 2rem;">
        @if (StateContainer.CurrentPatient != null) { 
            <PatientHeader />
        }
        @Body
        <div class="appVersion">
            <MudText Typo="Typo.caption">app version: @version</MudText>
        </div>
    </MudMainContent>
</MudLayout>

<style>
    .appBar {
        height: 2rem;
    }

    .whiteButton {
        padding: 0;
        color: white;
    }

    .exitIcon svg {
        width: 1rem;
        height: 1rem;
    }

    .customIcon svg {
        width: 1rem;
        height: 1rem;
    }

    .flexSpacer {
        flex: 1;
    }

    .menuBlock {
        background-color: @DoctorAppWeb.Client.Shared.Colors.Blue;
        color: #ffffff;
        position: fixed;
        right: 0px;
        top: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-right: 1rem;
        padding-left: 3rem;
        z-index: 1201;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 11px 10px 1px;
        /*temporary while no other items there*/
        min-width: 25rem;
    }

    .menuBlockItem {
        display: flex;
        flex-direction: row-reverse;
    }

    .mud-appbar {
        background-color: @DoctorAppWeb.Client.Shared.Colors.Blue;
    }

    .logoContainer {     
    }

    .logo {
        width: 2rem;
    }

    .appVersion {
        position: absolute;
        bottom: 0;
        right: 2rem;
    }
</style>

@code {
    Version version = typeof(Program).Assembly.GetName().Version;
    bool isDrawerOpen = false;
    bool isMenuVisible = false;
    //    string menuIcon = Icons.Material.Filled.Menu;

    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }

    public async Task GoBack()
    {
        // if previous patient is set
        if (StateContainer.PreviousPatient != null && StateContainer.CurrentPatient == null)
        {
            StateContainer.CurrentPatient = StateContainer.PreviousPatient;
            string titleInfo = StateContainer.CurrentPatient.Lastname + " " + StateContainer.CurrentPatient.Firstname + " " + StateContainer.CurrentPatient.Patronymic + " " + StateContainer.CurrentPatient.Birthday + " (" + StateContainer.CurrentPatient.Age + ") " + StateContainer.CurrentPatient.StayDep + " " + StateContainer.CurrentPatient.ServiceCaseNumber;
            StateContainer.AppTitle = titleInfo;
            navigationManager.NavigateTo(StateContainer.CurrentPage);
        } else
        {
            // go to prev patient
            navigationManager.NavigateTo("persons");
        }
    }

    public async Task CustomizationTree()
    {
        isMenuVisible = !isMenuVisible;
        navigationManager.NavigateTo("customization");
    }
}

@functions{

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }
    public static bool HasDbUserInfo = false;

    bool open = false;
    bool dense = false;
    bool preserveOpenState = false;
    Breakpoint breakpoint = Breakpoint.Lg;
    DrawerClipMode clipMode = DrawerClipMode.Never;

    void ToggleDrawer()
    {
        open = !open;
    }

    string SetMenuIcon()
    {
        if (isMenuVisible)
        {
            return Icons.Material.Filled.Close;
        }
        else
        {
            return Icons.Material.Filled.Menu;
        }
    }
    void DisplayMenu()
    {
        isMenuVisible = !isMenuVisible;
    }

    protected override async Task OnInitializedAsync()
    {
        bool isAuthUser = (await AuthenticationState).User.Identity.IsAuthenticated;
        string userName = (await AuthenticationState).User.Identity.Name;
        //КОД ДЛЯ РАБОТЫ С ОФЛАЙН - ПОКА НЕ ИСПОЛЬЗУЕМ (ПРИ НЕОБХОДИМОСТИ УБРАТЬ КОММЕНТАРИИ)
        //try
        //{
        //    ConnectionStatus result = null;
        //    result = await Http.GetFromJsonAsync<ConnectionStatus>("Tools");

        //    if (result == null)
        //    {
        //        throw new Exception();
        //    }
        //}
        //catch (Exception) //Если офлайн
        //{
        //    CustomAuthorization customAuthorization = null;
        //    DateTime? maxDate = null;
        //    using (var db = await this.DbFactory.Create<IndexedApplicationDb>())
        //    {
        //        maxDate = db.CustomAuthorizations.Max(x => x.DateActual);
        //        customAuthorization = db.CustomAuthorizations.FirstOrDefault(x => x.DateActual.HasValue && x.DateActual == maxDate);
        //        if (customAuthorization == null || (customAuthorization != null && maxDate.Value.AddDays(1) < DateTime.Now))
        //        {
        //            navigationManager.NavigateTo("/authrequired");
        //        }
        //        else
        //        {
        //            customAuthorization.DateActual = DateTime.Now;
        //            await db.SaveChanges();
        //        }
        //    }
        //    return;
        //}

        if (!isAuthUser)
        {
            navigationManager.NavigateTo("/login");
        }
        else
        {
            using (var db = await this.DbFactory.Create<IndexedApplicationDb>())
            {
                CustomAuthorization authorization = db.CustomAuthorizations.FirstOrDefault(x => x.Login == userName);
                if (authorization == null && !HasDbUserInfo)
                {
                    Tuple<UserInfoDto, CustomizationInfoDto> userInfo = await Http.GetFromJsonAsync<Tuple<UserInfoDto, CustomizationInfoDto>>("Tools/" + userName);
                    db.CustomAuthorizations.Add(new CustomAuthorization
                    {
                        Login = userName,
                        Password = "Hash",
                        DateActual = DateTime.Now,
                        DateUpdate = null,
                        FirstName = userInfo.Item1.FirstName,
                        LastName = userInfo.Item1.LastName,
                        MiddleName = userInfo.Item1.MiddleName,
                        Availability_265 = userInfo.Item1.Permissions.Contains("285"),
                        Availability_283 = userInfo.Item1.Permissions.Contains("283"),
                        Availability_5 = userInfo.Item1.Permissions.Contains("5"),
                        Availability_751 = userInfo.Item1.Permissions.Contains("751"),
                        Snils = userInfo.Item1.Snils,
                        UserId = userInfo.Item1.UserIdAV
                    });
                    HasDbUserInfo = true;
                }
                else if (HasDbUserInfo && authorization != null)
                {
                    authorization.DateActual = DateTime.Now;
                }
                await db.SaveChanges();
            }
        }
    }
    async Task LogoutClick()
    {
        using (var db = await this.DbFactory.Create<IndexedApplicationDb>())
        {
            db.CustomAuthorizations.Clear();
            db.PagesSettings.Clear();
            db.Departments.Clear();
            db.Doctors.Clear();
            await db.SaveChanges();
            HasDbUserInfo = false;
        }
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }


    //ДЛЯ РЕГУЛЯРНОЙ ПРОВЕРКИ АВТОРИЗАЦИИ И РАБОТЫ С ОФЛАЙН
    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }
}
