@inject StateContainer StateContainer
@inject IPatientsService PatientService
@inject HttpClient Http

<Progress isVisible="@showProgress"></Progress>
<div class="docsWrapper">
    <MudTabs>
        <MudTabPanel Text="@all">
            @if (docList.Any())
            {
                foreach (ServiceMedDocDto serviceMedDoc in docList)
                {
                    if (serviceMedDoc.MedDocList.Any())
                    {
                        foreach (MedDocVersionDto doc in serviceMedDoc.MedDocList)
                        {
                            <MudExpansionPanel>
                                <TitleContent>
                                    <div style="display:flex">
                                        <div>
                                            <MudText Class="blueText" Typo="Typo.h5">@doc.TypeName</MudText>
                                            <MudText Typo="Typo.body1">@doc.Author</MudText>
                                        </div>
                                        <div class="flexSpacer" />
                                        <div>
                                            <MudText Typo="Typo.body1" Class="grayText">@doc.CreateDate.Value.ToString("dd.MM.yyyy")</MudText>
                                        </div>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    @((MarkupString)doc.Document.VersionText)
                                </ChildContent>
                            </MudExpansionPanel>
                        }
                    }
                }
            }
            else
            {
                <MudText Class="emptyState" Typo="Typo.h5">@DoctorAppWeb.Client.Shared.EmptyStateMessages.MedDocs</MudText>
            }
        </MudTabPanel>
        <MudTabPanel Text="@archive">
            <MudGrid>
                <MudItem xs="10">
                    <MudTextField OnKeyUp="@((KeyboardEventArgs evt) => { if (evt.Code == "Enter" || evt.Code == "NumpadEnter") { HandleSearch(); } })"
                                  OnClearButtonClick="HandleSearch"
                                  Clearable="true"
                                  FullWidth="true"
                                  @bind-Value="SearchQuery"
                                  Label="Название документа"
                                  Margin="Margin.Dense"
                                  Variant="Variant.Outlined"></MudTextField>
                </MudItem>
                <MudItem xs="2">
                    <MudIconButton @onclick="HandleSearch" Icon="@Icons.Material.Filled.Search" Variant="Variant.Filled" Color="Color.Primary" Class="searchButton" />
                </MudItem>
            </MudGrid>

            @if (archiveDocList.Any())
            {
                foreach (ServiceMedDocDto serviceMedDoc in archiveDocList)
                {
                    if (serviceMedDoc.MedDocList.Any())
                    {
                        foreach (MedDocVersionDto doc in serviceMedDoc.MedDocList)
                        {
                            <MudExpansionPanel>
                                <TitleContent>
                                    <div style="display:flex">
                                        <div>
                                            <MudText Class="blueText" Typo="Typo.h5">@doc.TypeName</MudText>
                                            <MudText Typo="Typo.body1">@doc.Author</MudText>
                                        </div>
                                        <div class="flexSpacer" />
                                        <div>
                                            <MudText Typo="Typo.body1" Class="grayText">@doc.CreateDate.Value.ToString("dd.MM.yyyy")</MudText>
                                        </div>
                                    </div>
                                </TitleContent>
                                <ChildContent>
                                    @((MarkupString)doc.Document.VersionText)
                                </ChildContent>
                            </MudExpansionPanel>
                        }
                    }
                }
            }
            else
            {
                <MudText Class="emptyState" Typo="Typo.h5">@DoctorAppWeb.Client.Shared.EmptyStateMessages.MedDocs</MudText>
            }
        </MudTabPanel>
    </MudTabs>



    <style>
    .flexSpacer {
        flex: 1;
    }
    .grayText {
        color: @DoctorAppWeb.Client.Shared.Colors.Gray
    }
    .greenText {
        color: @DoctorAppWeb.Client.Shared.Colors.Green
    }
    .blueText {
        color: @DoctorAppWeb.Client.Shared.Colors.Blue
    }
    .docsWrapper {
        padding: 1rem;
        max-height: 25rem;
        overflow: auto;
    }
    </style>

            
</div>

@code {

    public bool showProgress = true;
    public List<ServiceMedDocDto> docList = new List<ServiceMedDocDto>();
    public List<ServiceMedDocDto> archiveDocList = new List<ServiceMedDocDto>();
    public List<ServiceMedDocDto> archiveDocFullList = new List<ServiceMedDocDto>();

    public string all = "ПО ВСЕЙ ГОСПИТАЛИЗАЦИИ";
    public string archive = "АРХИВ";

    public string SearchQuery;

    protected override async Task OnInitializedAsync()
    {
        await GetInfoMedDocList();
    }

    private async Task<List<ServiceMedDocDto>> GetInfoMedDocList()
    {
        List<ServiceMedDocDto> result = null;
        try
        {
            showProgress = true;
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "Info/MedDocList");
            httpRequest.Headers.Add("personId", Guid.Empty.ToString());
            httpRequest.Headers.Add("hcsId", PatientService.HealthcareServiceId.ToString());
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            docList = await httpResponse.Content.ReadFromJsonAsync<List<ServiceMedDocDto>>();

            foreach(ServiceMedDocDto serviceMedDoc in docList) {
                foreach (MedDocVersionDto doc in serviceMedDoc.MedDocList)
                {
                    doc.Document = await GetInfoMedDoc(doc.EpicrisisVersionID);
                }
            }

            var archHttpRequest = new HttpRequestMessage(HttpMethod.Get, "Info/MedDocList");
            archHttpRequest.Headers.Add("personId", StateContainer.CurrentPatient.PersonID.ToString());
            archHttpRequest.Headers.Add("hcsId", Guid.Empty.ToString());
            HttpResponseMessage archHttpResponse = await Http.SendAsync(archHttpRequest);
            archiveDocList = await archHttpResponse.Content.ReadFromJsonAsync<List<ServiceMedDocDto>>();

            foreach (ServiceMedDocDto serviceMedDoc in archiveDocList)
            {
                foreach (MedDocVersionDto doc in serviceMedDoc.MedDocList)
                {
                    doc.Document = await GetInfoMedDoc(doc.EpicrisisVersionID);
                }
            }

            archiveDocFullList = archiveDocList.GetRange(0, archiveDocList.Count());

            showProgress = false;
        }
        catch (Exception ex)
        {
        }

        return result;
    }

    private async Task<MedDocDto> GetInfoMedDoc(Guid epicrisisVersionId)
    {
        MedDocDto result = null;
        try
        {
            showProgress = true;
            var httpRequest = new HttpRequestMessage(HttpMethod.Get, "Info/MedDoc");
            httpRequest.Headers.Add("epicrisisVersionId", epicrisisVersionId.ToString());
            HttpResponseMessage httpResponse = await Http.SendAsync(httpRequest);
            result = await httpResponse.Content.ReadFromJsonAsync<MedDocDto>();
            showProgress = false;
        }
        catch (Exception ex)
        {

        }

        return result;
    }

    private async Task HandleSearch()
    {
        if (String.IsNullOrEmpty(SearchQuery))
        {
            archiveDocList = archiveDocFullList;
            return;
        }

        archiveDocList = archiveDocFullList.Where(docList =>
            docList.MedDocList.Where(doc => doc.TypeName.ToLower().Contains(SearchQuery.ToLower())).Any()
        ).ToList();
    }
}