@inject NavigationManager navigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime
<!--<div class="top-row" style="background-color: #3f51b5;">&nbsp;&nbsp;<img src="BackToPatients.svg" id="backToPatientList" @onclick="GoToPatientList"></div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="navItem  px-3">
            <NavLink href="whatisnew">
                <span class="oi oi-home" aria-hidden="true"></span> Что нового
            </NavLink>
        </li>
        <li class="navItem  px-3">
            <NavLink href="selectactions">
                <span class="oi oi-home" aria-hidden="true"></span> Диагноз
            </NavLink>
        </li>
        <li class="navItem  px-3">
            <NavLink href="personlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Показатели
            </NavLink>
        </li>
        <li class="navItem  px-3">
            <NavLink href="personlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Анализы
            </NavLink>
        </li>
        <li class="navItem  px-3">
            <NavLink href="personlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Медикаменты
            </NavLink>
        </li>
        <li class="navItem  px-3">
            <NavLink href="personlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Обследования
            </NavLink>
        </li>
        <li class="navItem  px-3">
            <NavLink href="personlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Консультации
            </NavLink>
        </li>
        <li class="navItem  px-3">
            <NavLink href="personlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Обходы
            </NavLink>
        </li>
        <li class="navItem  px-3">
            <NavLink href="personlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Процедуры
            </NavLink>
        </li>
        <li class="navItem  px-3">
            <NavLink href="personlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Операции
            </NavLink>
        </li>
    </ul>
</div>-->
<MudPaper Width="250px" Class="d-inline-flex py-3" Square="true">
    <MudNavMenu Class="mud-width-full">
        <MudNavLink Href="/whatisnew" Icon="@DoctorIcons.WhatsNew">Что нового</MudNavLink>
        <MudNavLink Href="" Icon="@DoctorIcons.Diagnosos">Диагнозы</MudNavLink>
        <MudNavLink Href="" Icon="@DoctorIcons.Indications">Показвтели</MudNavLink>
        <MudNavLink Href="" Icon="@DoctorIcons.Analysis">Анализы</MudNavLink>
        <MudNavLink Href="" Icon="@DoctorIcons.Meds">Медикаменты</MudNavLink>
        <MudNavLink Href="" Icon="@DoctorIcons.Research">Обследования</MudNavLink>
        <MudNavLink Href="" Icon="@DoctorIcons.Consult">Консультации</MudNavLink>
        <MudNavLink Href="" Icon="@DoctorIcons.Visit">Обходы</MudNavLink>
        <MudNavLink Href="" Icon="@DoctorIcons.Procedure">Процедуры</MudNavLink>
        <MudNavLink Href="" Icon="@DoctorIcons.Surgery">Операции</MudNavLink>
    </MudNavMenu>
</MudPaper>

        <style>
            .navItem {
                color: #3F51B5;
                border-radius: 4px;
                height: 3rem;
                display: flex;
                align-items: center;
                line-height: 3rem;
            }

            #backToPatientList {
                width: 60%;
                height: 60%;
            }
        </style>
        @code {



            private bool collapseNavMenu = true;

            private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

            private void ToggleNavMenu()
            {
                collapseNavMenu = !collapseNavMenu;
            }
        }
