@inject StateContainer StateContainer
@inject IDialogService Dialog

<MudDialogProvider Position="DialogPosition.CenterLeft" MaxWidth="MaxWidth.Large" />
<div class="patientInfo">
    <MudPaper class="@(isOpen ? "patientInfoToggle activeToggle" : "patientInfoToggle")">
        <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowDown"
                       OnClick="ToggleOpen"
                       Size="Size.Medium"
                       class=@(isOpen ? "patientInfoToggle-button arrowDown" : "patientInfoToggle-button")></MudIconButton>
        <MudIcon Class="patientInfoToggle-icon" Icon="@Icons.Material.Outlined.AssignmentInd" Color="Color.Primary"></MudIcon>
    </MudPaper>
    @if (isOpen)
    {
        <MudPaper class="patientInfoWrapper">

            <MudText Typo="Typo.h5">Информация о пациенте</MudText>

            <div class="patientInfoData">
                <div style="display: flex">
                    <MudText Class="blueText">Поступил:</MudText><MudText Class="grayText">&nbsp;@StateContainer.CurrentPatient.SDInpatientServiceCase</MudText>
                </div>
                <div style="display: flex">
                    <MudText Class="blueText">@StateContainer.CurrentPatient.IsWorkingStr</MudText>
                </div>
            </div>

            <div class="patientInfoButtonsBlock">
                <MudButton OnClick="ShowAnamnesis" Color="Color.Secondary" Variant="Variant.Outlined">Анамнез жизни</MudButton>
                <MudButton OnClick="ShowMedDocs" Color="Color.Secondary" Variant="Variant.Outlined">Медицинские документы</MudButton>
            </div>
        </MudPaper>
    }

</div>

<style>
    .patientInfo {
        margin-left: 0.5rem;
        margin-top: 0.5rem;
    }

    .patientInfoToggle {
        background-color: #ffffff;
        display: flex;
        padding: 1rem;
        width: 5rem;
        height: 2.5rem;
    }

    .activeToggle {
        border-radius: 4px 4px 0 0;
    }

    .patientInfoToggle-button {
        padding: 0;
        height: 1.5rem;
        margin-top: -0.5rem;
    }

    .patientInfoToggle-icon {
        margin-top: -0.5rem;
    }

    .patientInfoWrapper {
        padding: 1rem;
        background-color: #ffffff;
        border-radius: 0 4px 4px 4px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 3px 1px 1px 0px;
    }
    .patientInfoData {
        margin-top: 1rem;
    }
    .arrowDown {
        transform: rotate(180deg);
    }
    .grayText {
        color: @DoctorAppWeb.Client.Shared.Colors.Gray
    }
    .blueText {
        color: @DoctorAppWeb.Client.Shared.Colors.Blue
    }
    .patientInfoButtonsBlock {
        margin-top: 1rem;
    }
</style>

@code {
    bool isOpen = false;

    void ToggleOpen()
    {
        isOpen = !isOpen;
    }

    void ShowAnamnesis()
    {
        DialogOptions options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        Dialog.Show<Anamnesis>("Анамнез жизни", options);
    }

    void ShowMedDocs()
    {
        DialogOptions options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };
        Dialog.Show<MedDocs>("Медицинские документы", options);
    }
}
